<!DOCTYPE html>
<html lang='en'>

<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <title>后台管理项目接口文档</title>
</head>

<body>
   <h2>后台管理项目接口文档</h2>
   <h4>
      所有接口都会返回code字段,code为1表示请求成功,code为0表示请求失败
      <br>
      msg字段表示请求成功或失败的信息,data是响应的数据
      <br>
      接口地址:http://127.0.0.1:3000
   </h4>
   <ul>
      <li>
         1.注册接口:/register
         <br>
         请求方式:get
         <br>
         请求参数:
         <br>
         name:用户名(必传)
         <br>
         psw:密码(必传)
         <br>
         sex:性别(选传)
      </li>
      <br>
      <li>
         2.登录接口:/login
         <br>
         请求方式:get
         <br>
         请求参数:
         <br>
         name:用户名(必传)
         <br>
         psw:密码(必传)
         <br>
         接口返回数据:
         <br>
         {name:用户名,psw:密码,sex:性别,
         <br>
         lastlogintime:上次登录时间,lastplace:上次登录地点}
         <br>
      </li>
      <br>
      <li>
         3.首页课程购买情况接口:/buycourse
         <br>
         请求方式:get
         <br>
         请求参数:无
      </li>
      <br>
      <li>
         4.首页订单支付情况接口:/buyorder
         <br>
         请求方式:get
         <br>
         请求参数:无
      </li>
      <br>
      <li>
         5.首页图表接口:/charts
         <br>
         请求方式:get
         <br>
         请求参数:type(必传)
         <br>
         type可以传'line','bar','pie' 分别对应折线图,柱形图,饼图
      </li>

      <br>
      <li>
         6.用户管理列表接口:/userlist
         <br>
         请求方式:get
         <br>
         请求参数:page(必传):表明要获取第几页的数据,默认是0
         <br>
         响应数据:{list:用户列表,total:总用户数}
      </li>
      <br>
      <li>
         7.用户搜索接口:/usersearch
         <br>
         请求方式:get
         <br>
         请求参数:keywords(必传):搜索的关键字
         <br>
      </li>
      <br>
      <li>
         8.删除用户接口:/userdelete
         <br>
         请求方式:get
         <br>
         请求参数:name(必传):用户名
         <br>
      </li>
      <br>
      <li>
         9.订单管理列表接口:/orderlist
         <br>
         请求方式:get
         <br>
         请求参数:page(必传):表明要获取第几页的数据,默认是0
         <br>
         响应数据:{list:订单列表,total:总订单数}
      </li>
      <br>
      <li>
         10.订单搜索接口:/ordersearch
         <br>
         请求方式:get
         <br>
         请求参数:keywords(必传):搜索的关键字
      </li>
      <br>
      <li>
         11.修改密码接口:/modifypsw
         <br>
         请求方式:get
         <br>
         请求参数:
         <br>
         name:用户名(必传)
         oldpsw:原密码(必传)
         newpsw:新密码(必传)
      </li>
      <br>
      <li>
         12.修改用户信息接口:/usermodi
         <br>
         请求方式:get
         <br>
         请求参数:
         <br>
         name:用户名(必传)
         <br>
         email:新邮箱(选传)
         <br>
         phone:新手机号码(选传);
      </li>
      <br>
      <li>
         13.订单修改接口:/ordermodi
         <br>
         请求方式:get
         <br>
         请求参数:
         <br>
         order_id:订单编号(必传)
         <br>
         order_price:订单价格(必传)
      </li>

   </ul>
   <script>

   </script>
</body>

</html>